@import "variables";
@import "fonts";
@import "common";
@import "footer";

//HEADER
.header {
  padding: 10px 0;
  font-size: 32px;
  font-weight: 400;
  
  &__container {
    display: flex;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__sign {
    margin-left: auto;
  }
}

.logo {
  max-height: 32px;

  svg {
    max-height: 32px;
  }
}

.mobile-menu {
  display: none;

  @media screen and (max-width: 1024px) {
    display: flex;
  }
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 22px;

  @media screen and (max-width: 1024px) {
    display: none;
  }

  &__link {
    margin-left: 24px;
    color: $link-color;

    &:hover {
      transform: scale(0.9);
      text-decoration: underline;
    }

    &_dinamic {
      color: $dinamic-color;
    }
  }
}

.sign {
  display: flex;
  align-items: center;

  &__link {
    padding: 0 12px;
    font-weight: 800;
    font-size: 13px;
    line-height: 22px;
    color: $link-color;
  }

  &:hover {
      transform: scale(0.9);
      text-decoration: underline;
  }
}

//SUCCEED

.succeed {
 
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 15px 190px;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      padding: 40px 15px 100px;
    }
  }

  &__title {
    margin: 0 0 20px 0;
    font-weight: 800;
    font-size: 86px;
    line-height: 106px;
    color: $main-color;

    @media screen and (max-width: 480px) {
      font-size: 50px;
      line-height: 60px;
    }
  }

  &__text {
    max-width: 445px;
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    color: $main-color;

    @media screen and (max-width: 1024px) {
      max-width: 100%;
    }
    @media screen and (max-width: 480px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__sign {
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }

  // &__link {
  //   @media screen and (max-width: 480px) {
  //     padding-top: 40px;
  //     background-color: red;
  //   }
  // }

  &__col {
    
    &_left {
      flex-basis: 40%;
    }

    &_right {
      flex-basis: 60%;
    }
  }

  &__img {
    width: 100%;
    min-width: 700px;
    max-width: 1000px;

    @media screen and (max-width: 1024px) {
      min-width: 96vw;
    }
  }
}


//STATS

.stats {
  position: relative;

  &__container {
    position: relative;
    background: $bg-color;
    border-radius: 40px;
    padding-top: 60px;
    padding-bottom: 510px;

    @media screen and (max-width: 1024px) {
      //flex-direction: column-reverse;
      padding-top: 30px;
      padding-bottom: 250px;
    }
  }
  
  &__head {
    max-width: 770px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 385px;
      padding: 20px 10px;
    }
  }

  &__title,
  &__text {
    color: $light-color;
  }

  &__title {
    margin: 0 0 17px 0;
    max-width: 770px;
    font-weight: 800;
    font-size: 66px;
    line-height: 82px;
    letter-spacing: 2px;

    @media screen and (max-width: 1024px) {
      margin: 0 0 9px 0;
      font-size: 33px;
      line-height: 41px;
    }
  }

  &__text {
    margin: 0 0 65px 0;
    max-width: 640px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    @media screen and (max-width: 1024px) {
      //margin: 0 0 32px 0;
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__img {
    position: absolute;
    max-width: 50px;

    &:hover {
      transform: scale(0.6);
    }

    &_1 {
      top: 220px;
      left: 40px;

    @media screen and (max-width: 1024px) {
      max-width: 60px;
      top: 110px;
      left: 20px;
      }
    }

    &_2 {
      top: 30px;
      left: 5px;
      
    @media screen and (max-width: 1024px) {
      max-width: 60px;
      top: 15px;
      left: 3px;
      }
    }

    &_3 {
      top: 350px;
      left: -30px;

      @media screen and (max-width: 1024px) {
        max-width: 60px;
        top: 150px;
        left: -15px;
        }
    }

    &_4 {
      top: 590px;
      left: -100px;

      @media screen and (max-width: 1024px) {
        max-width: 60px;
        top: 300px;
        left: -50px;
        }
    }

    &_5 {
      top: 120px;
      right: 40px;

    @media screen and (max-width: 1024px) {
      max-width: 60px;
      top: 50px;
      right: 5px;
      }
    }

    &_6 {
      top: 316px;
      right: -20px;

      @media screen and (max-width: 1024px) {
        max-width: 60px;
        top: 150px;
        right: -10px;
        }
    }

    &_7 {
      top: 215px;
      right: -30px;

      @media screen and (max-width: 1024px) {
        max-width: 60px;
        top: 100px;
        right: -15px;
        }
    }
  }
}

.info {
  position: relative;
  z-index: 2;
  max-width: 1032px;
  margin: -480px auto 0 auto;
  border-radius: 32px;
  border: 22px solid $light-color;
  background-color: #F6F8FE;
  padding: 16px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    max-width: 96vh;
    margin: -240px auto 0 auto;
    border-radius: 16px;
    border: 11px solid $light-color;
    padding: 8px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 22px;
    background-color: $light-color;

    &:hover {
      transform: scale(0.9);
      text-decoration: underline;
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    &_full {
      height: 100%;
    }
  }

  &__bottom {
    display: flex;
    gap: 16px;
    margin-top: 16px;

    @media screen and (max-width: 1024px) {
      // flex-direction: column;
      // width: 100%;
      // gap: 8px;
      // margin-top: 8px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: 16px;
      // width: 50%;
      flex-basis: 50%;

      // @media screen and (max-width: 1024px) {
      //   gap: 8px;
      // }
    }

    &-right {
      // width: 50%;
      flex-basis: 50%;

      // @media screen and (max-width: 1024px) {
      //   width: 25%;
      // }
    }
  }

    &__label {
      font-size: 22px;
      margin-bottom: 65px;

      @media screen and (max-width: 1024px) {
        font-size: 11px;
        margin-bottom: 32px;
      }
    }

  &__number {
    margin: 0 auto 12px;
    font-size: 48px;
    font-weight: 800;

    @media screen and (max-width: 1024px) {
      margin: 0 auto 6px;
      font-size: 24px;
    }
  }

  &__percent {
    margin: 0 auto 10px;
    display: flex;
    font-size: 16px;
    align-items: center;
    color: $bg-text;

    &::after {
      content: "%";

    }

    &::before {
      content: "";
      display: block;
      width: 11px;
      height: 13px;
      background-image: url("../img/arrow-top.svg");
      // background-image: url("data:image/svg+xml,%3Csvg width='11' height='14' viewBox='0 0 11 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0.5625L0 5.7625L0.962006 6.6725L4.81201 3.0325V13.5625H6.18799V3.0325L10.038 6.6725L11 5.7625L5.5 0.5625Z' fill='%2334D08C'/%3E%3C/svg%3E%0A");
    }

    @media screen and (max-width: 1024px) {
      margin: 0 auto 5px;
      font-size: 8px;
    }
  }

  &__days {
    margin: 0 auto 60px;
    font-size: 14px;

    @media screen and (max-width: 1024px) {
      margin: 0 auto 30px;
      font-size: 7px;
    }
  }

  &__img {
    max-width: 155px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 70px;
      margin: 0 auto;
    }
  }
}

//COUNTRY

.country {
  position: relative;
  padding: 300px 0 260px;
  background-image: url("../img/country-bg.png");
  background-repeat: no-repeat;
  background-position: center 300px;

  &__container {
    position: relative;

    @media screen and (max-width: 1024px) {
      background-image: 50%;
      flex-direction: column-reverse;
      padding: 150px 0 130px;
    }
}

  &__box {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 350px;
      margin: 0 auto;
      }
}

  &__title,
  &__text {
    color: $main-color;
  }

  &__title {
    margin: 0 0 17px 0;
    max-width: 735px;
    font-weight: 800;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: 2px;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 41px;
    }
  }

  &__text {
    margin: 0 0 65px 0;
    max-width: 624px;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 19px;
      }
  }

  &__img {
    display: block;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;

     @media screen and (max-width: 1024px) {
      max-width: 96vh;
      margin-top: 25px;
     }
  }
  }

//REVENUE BY QUATER

.quater {
  position: relative;

  &__container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 1024px) {
      padding-top: 30px;
      padding-bottom: 30px;
     }
  }

  &__box {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 350px;
     }
  }

  &__title,
  &__text {
    color: $main-color;
  }

  &__title {
    margin: 0 0 17 0;
    max-width: 684px;
    font-weight: 800;
    font-size: 64px;
    line-height: 82px;
    letter-spacing: 2px;

    @media screen and (max-width: 1024px) {
      font-size: 32px;
      line-height: 41px;  
     }
  }
  
  &__text {
    margin:0 0 17px 0;
    max-width: 665px;
    font-weight: 400;
    font-size: 31px;
    line-height: 38px;

    @media screen and (max-width: 1024px) {
      margin:0 0 8px 0;
      font-size: 15px;
      line-height: 19px;  
     }
  }

  &__img {
    position: relative;
    max-width: 490px;
    margin: 0 340px;

    @media screen and (max-width: 1024px) {
      margin:0 170px;
      max-width: 250px;  
     }

    &_1 {
      top: 50px;
      left: 78px;

      @media screen and (max-width: 1024px) {
        top: 25px;
        left: 40px;  
       }
    }

    &_2 {
      top: 300px;
      left: 78px;

      @media screen and (max-width: 1024px) {
        top: 150px;
        left: 40px;  
       }
    }
  }
}

.question {
  display: flex;
  align-items: center;
  position: absolute;

  &_1 {
    top: 0;
    left: 214px;
    
    @media screen and (max-width: 1024px) {
      top: 0;
      left: 110px;  
     }
  }

  &_2 {
    top: 335px;
    left: 214px;

    @media screen and (max-width: 1024px) {
      top: 170px;
      left: 110px;  
     }
  }

  &_3 {
    top: 250px;
    right: 130px;

    @media screen and (max-width: 1024px) {
      top: 125px;
      left: 65px;  
     }
  }

  &_4 {
    top: 80px;
    right: 187px;

    @media screen and (max-width: 1024px) {
      top: 40px;
      left: 90px;  
     }
  }

  &_5 {
    top: 150px;
    left: 142px;

    @media screen and (max-width: 1024px) {
      top: 75px;
      left: 70px;  
     }
  }

  &__img {
    width: 50px;
    height: 100%;

    @media screen and (max-width: 1024px) {
      width: 25px; 
      height: 50%;
     }
  }

  &__text {
    max-width: 130px;
    margin-left: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: $main-color;

    @media screen and (max-width: 1024px) {
      max-width: 65px;
      margin-left: 6px;
      font-size: 8px;
      line-height: 14px;
     }

  &__goal {
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
    color: black;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: 1024px) {
      font-size: 10px;
      line-height: 15px;
     }
  }
  }
}


//ANALYTICS

.analytics{
  position: relative;

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 250px;
    padding-bottom: 250px;

    @media screen and (max-width: 1024px) {
      flex-direction: column-reverse;
      max-width: 600px;
      padding-top: 120px;
      padding-bottom: 120px;
    }
  }

  &__img{
    width: 100%;
    max-width: 1140px;
    min-width: 700px;
    padding: 36px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 96vw;
      padding: 18px;
    }
  }

  &__box {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 350px;
    }
  }

  &__title,
  &__text {
    color: $main-color;
  }

  &__title {
    margin: 0 0 17px 0;
    font-weight: 800;
    font-size: 68px;
    line-height: 82px;
    letter-spacing: 2px;

    @media screen and (max-width: 1024px) {
      margin: 0 0 8px 0;
      font-size: 34px;
      line-height: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;

    @media screen and (max-width: 1024px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}


//ACTION

.action {
  position: relative;

  &__container {
    position: relative;
    margin: 0 auto;
    max-width: 1170px;
    border-radius: 40px;
    background: $bg-color;
    padding-top: 80px;
    padding-bottom: 80px;

    @media screen and (max-width: 1024px) {
      max-width: 50%;
      border-radius: 20px;
      padding: 40px;
    }
  }

  &__box {
    max-width: 700px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 350px;
    }
  }

    &__title,
    &__text {
      color: $wite-color;
    }

    &__title {
      margin: 55px 0;
      font-weight: 800;
      font-size: 65px;
      line-height: 82px;
      letter-spacing: 2px;

      @media screen and (max-width: 1024px) {
        margin: 25px 0;
        font-size: 30px;
        line-height: 40px;
      }
    }

    &__text {
      margin-bottom: 46px;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 23px;
        font-size: 10px;
        line-height: 15px;
      }
    }
}
 